.viewer-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 48px;
  flex-wrap: wrap;
  min-height: 20vh;
}

.left-panel {
  flex: 1.2;
  max-width: 480px;
  min-width: 320px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #ddd;
  height: 100%;
}

.right-panel {
  flex: 2;
  min-width: 700px;
  padding-left: 32px;
}
