<nav class="navbar">
  <div class="left">
    <a *ngIf="isLoggedIn" routerLink="/home" routerLinkActive="active">Réserver</a>
    <a *ngIf="isLoggedIn && isSecretary" (click)="managementUser()" routerLinkActive="active">Gérer les utilisateurs</a>
    <a *ngIf="isLoggedIn && isSecretary" (click)="managementReservation()" routerLinkActive="active">Gérer les réservations</a>
  </div>

  <div class="right">
    <span *ngIf="isLoggedIn" class="user-info">{{ firstName }} {{ lastName }} | {{ userEmail }} | {{ role }}</span>
    <button *ngIf="isLoggedIn" (click)="logout()">Se déconnecter</button>
  </div>
</nav>
