form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

input, button {
  padding: 0.5rem;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

mat-header-row {
  background-color: #eee;
  font-weight: bold;
}

mat-row:hover {
  background-color: #f9f9f9;
}

td input {
  width: 100%;
}
