<h2>Gestion des comptes utilisateurs</h2>

<h2>Gestion des comptes utilisateurs</h2>

<form (ngSubmit)="addUser()">
  <input
    type="email"
    [(ngModel)]="newUser.email"
    name="email"
    placeholder="Email"
    required
  />
  <input
    type="password"
    [(ngModel)]="newUser.password"
    name="password"
    placeholder="Mot de passe"
    required
  />
  <select [(ngModel)]="newUser.role" name="role">
    <option value="user">Utilisateur</option>
    <option value="admin">Admin</option>
    <option value="secretary">Secrétaire</option>
    <option value="manager">Manager</option>
  </select>
  <button type="submit">Ajouter</button>
</form>


<table>
  <tr>
    <th>Email</th>
    <th>Rôle</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>
    <td>
      <button (click)="deleteUser(user.email)">Supprimer</button>
    </td>
  </tr>
</table>
