<div class="container">
  <h2>Parking Lot Map</h2>

  <p class="info-electric">
    ⚡ Les rangées A et F sont équipées de bornes de recharge électrique.
  </p>

  <div style="text-align: right;">
    <button (click)="logout()">Se déconnecter</button>
  </div>

  <p>email: {{ userEmail }} | rôle: {{ role }}</p>

  <div *ngFor="let row of rows">
    <div class="row">
      <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="!getSlot(row, col).occupied; else occupiedSlot">
          <ng-container *ngIf="isLoggedIn(); else loginRedirect">
            <a
              [routerLink]="['/slot', getSlot(row, col).id]"
              class="slot free"
              [class.has-plug]="isElectricRow(row)"
            >
              {{ getSlot(row, col).id }}
              <span *ngIf="isElectricRow(row)">⚡</span>
            </a>
          </ng-container>

          <ng-template #loginRedirect>
            <div
              class="slot free disabled"
              [class.has-plug]="isElectricRow(row)"
              (click)="redirectToLogin()"
              style="cursor: not-allowed;"
              title="Connectez-vous pour réserver"
            >
              {{ getSlot(row, col).id }}
              <span *ngIf="isElectricRow(row)">⚡</span>
            </div>
          </ng-template>

        </ng-container>

        <ng-template #occupiedSlot>
          <div
            class="slot occupied"
            [class.has-plug]="isElectricRow(row)"
          >
            {{ getSlot(row, col).id }} 🔒
            <span *ngIf="isElectricRow(row)">⚡</span>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
