<div class="container" xmlns="http://www.w3.org/1999/html">
  <h2>Parking Lot Map</h2>

  <p>
    ⚡ Borne de recharge électrique
    <br>
    🔒 Place indisponible pour la journée en cours
  </p>

  <button  routerLink="/reservation">Create Reservation</button>
  <button  routerLink="/checkin">Faire le checkin</button>

  <!-- ENTRY-->
  <div class="entry-row">
    <div class="entry-label">⬇️ ENTRY</div>
  </div>

  <!-- Parking grid -->
  <div *ngFor="let row of rows" class="row">
    <ng-container *ngFor="let col of columns">
      <ng-container *ngIf="!getSlot(row, col).occupied; else occupiedSlot">
        <ng-container *ngIf="isLoggedIn">
          <a
            [routerLink]="['/slot', getSlot(row, col).id]"
            class="slot free"
            [class.has-plug]="isElectricRow(row)">
            {{ getSlot(row, col).id }}
            <span *ngIf="isElectricRow(row)">⚡</span>
          </a>
        </ng-container>
      </ng-container>

      <ng-template #occupiedSlot>
        <div class="slot occupied" [class.has-plug]="isElectricRow(row)">
          {{ getSlot(row, col).id }} 🔒
          <span *ngIf="isElectricRow(row)">⚡</span>
        </div>
      </ng-template>
    </ng-container>
  </div>

  <!-- EXIT-->
  <div class="exit-row">
    <div class="exit-label">EXIT ⬇️</div>
  </div>
</div>
